{{block "index" .}}
<!doctype html>
<html lang="en" class="bg-gray-100 min-h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Talerliste</title>
    <script
    src="https://unpkg.com/htmx.org@1.9.11"
    integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
    crossorigin="anonymous"
  ></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/sse.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="grid gap-5 p-10">
    <div class="bg-white rounded-2xl shadow-sm p-5">
      <h1>Deltakere:</h1>
      <div id="participants">{{template "participants" .Participants}}</div>
      <form id="participantForm" hx-post="/participant/file" hx-encoding='multipart/form-data'>
        <input type="file" name="participants" accept=".csv,.xlsx">
        <button type="submit" >Submit</button>
        <progress id='progress' value='0' max='100'></progress>
      </form>
      <script>
      htmx.on('#participantForm', 'htmx:xhr:progress', function(evt) {
        htmx.find('#progress').setAttribute('value', evt.detail.loaded/evt.detail.total * 100)
      });
      </script>
      <form
        class="border rounded-lg p-2 grid"
        hx-post="/participant"
        hx-swap="beforeend"
        hx-target="#participants"
      >
        <label for="name">Navn</label>
        <input class="bg-gray-100" type="text" autocomplete="name" name="name" value="" placeholder="Navn..." />

        <label for="gender">Kjønn</label>
        <input class="bg-gray-100" type="text" autocomplete="sex" name="gender" list="genders" placeholder="Kjønn..." />
        <datalist id="genders">
          <option value="Mann"></option>
          <option value="Kvinne"></option>
          <option value="Ukjent"></option>
        </datalist>

        <button type="submit" class="w-max px-10 bg-blue-400 hover:bg-blue-600">Legg til</button>
      </form>
    </div>
    <div class="bg-white rounded-2xl shadow-sm p-5">
      {{template "addTalk" .}}
    </div>
    <div hx-ext="sse" sse-connect="/talk" class="bg-white rounded-2xl shadow-sm p-5">
      <h1>Innlegg:</h1>
      <ul class="space-y-3" id="talks" hx-swap="beforeend" sse-swap="add">{{template "talks" .TalkBlocks}}</ul>
    </div>

  </body>
</html>
{{end}} 

{{block "genderOption" .}}
<div id="genders" hx-swap-oob="beforeend">
  <option value="{{.}}"></option>
</div>
{{end}}

{{block "participants" .}}
{{range .}}
{{template "participant" .}}
{{end}}
{{end}}

{{block "participant" .}}
{{.Name}} ({{.Gender}})
{{end}}

{{block "addTalk" .}}
<form hx-post="/talk" hx-target="#talks" hx-swap="beforeend"> 

  <label for="participant">Deltaker</label>
  <select name="participant" required id="addparticipants">
    <option value="" disabled>--Velg deltaker--</option>

    {{range .Participants}}
    <option value="{{.Id}}">{{.Name}}</option>
    {{end}}

  </select>

  <label for="type">Type</label>
  <select name="type" required>
    <option value="" disabled>--Velg type--</option>

    {{range .TalkTypes}}
    <option value="{{.Id}}">{{.Name}}</option>
    {{end}}
  </select>

  <button type="submit">Legg til</button>
</form>
{{end}}

{{block "talks" .}}
{{range .}} 
{{template "talk" .}} 
{{end}}
{{end}}

{{block "talk" .}}
<li id="talk-{{.Talk.Id}}" class="flex gap-3 items-center">
  <div>{{.Participant.Name}}</div>
  <div id="tag-{{.Talk.Id}}" class="border rounded-full px-2" style="background-color: color-mix(in srgb, {{.TalkType.Color}}, white 80%); color: {{.TalkType.Color}}; border-color: currentColor">{{.TalkType.Name}}</div>
  <button
    hx-delete="/talk/{{.Talk.Id}}"
    hx-target="#talk-{{.Talk.Id}}"
    hx-swap="outerHTML"
  >
    X
  </button>
</li>
{{end}}

{{block "deleteTalk" .}}
<div id="talk-{{.Talk.Id}}" hx-swap-oob="delete">
  Removed
</div>
{{end}}
